body { 
       font: bold 10pt Verdana, Arial, Helvetica, sans-serif;
       margin: 10px auto;
       padding: 0px 20px;
       overflow-y:scroll;
}
.kzF {
       font-size: 13pt; 
       font-weight: bold; 
       width: 30pt; 
       height: 30pt;
}
.switcher {
       width: 28pt;
}
#Function {
       overflow-x: auto;
       margin-top: 5px;
       margin-right: 5px;
}
#TableFunction {
       border: 0px solid black;
       border-spacing: 10px;
}
.TableFunctionCell {
       border: 2px solid black;
       padding: 15px;
       border-radius: 10px;
}
.function {
       background-color: #E5E5E5;
       padding: 2px;
       margin-bottom: 7px;
}
.TableBF {
       border: 1px solid black;
       border-spacing: 0;
       margin-top: 5px;
}
.TableBF th {
       border: 1px solid black;
       padding: 5px;
}
.BFValue {
       margin: 0;
       font-size: 10pt;
}
fieldset {
       width: 400px;
       padding: 7px 7px;
       margin-top: 10px;
       margin-bottom: 10px;
       text-align: center;
}
legend {
       text-align: left;
}
input { 
       font: bold 9pt Verdana, Arial, Helvetica, sans-serif;
       text-align: center;
       margin: 0 auto;
       vertical-align:middle;
}
.SetFast {
       width: 100px;
       height: 30px;
       background-color: #EFEFEF;
       border-radius: 5px;
       margin-bottom: 10px;
       margin-top: 5px;
}
#find {
       width: 418px;
       height: 43px;
       background-color: #EFEFEF;
       border-radius: 5px;
       margin-bottom: 10px;
       margin-top: 5px;
       font: bold 10pt Verdana, Arial, Helvetica, sans-serif;
}
#vectorpol {
       text-align: left;
       padding: 2px 7px 7px 7px;
}
#vectorpol input {
       margin: 3px 0px;
}
.normalvar {
       display:inline-block;
       margin-top:3px;
}
.normalvar+sub {
       margin-right:1px;
}
.invertedvar {
       display:inline-block;
       text-decoration:overline;
       margin-top:3px;
}
.invertedvar+sub {
       margin-right:1px;
}
